<table class='table'>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Tên khóa học</th>
            <th scope='col'>Trình độ</th>
            <th scope='col' colspan='2'>Thời gian tạo</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
            <tr>

                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href='' class='btn btn-link'>
                        Xoa
                    </a>
                    <a href='/courses/{{this._id}}/edit' class='btn btn-link'>
                        Sua
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>